<%- include("includes/head.ejs") %>   

    <title>post request page</title>
</head>
<body>

    
   <h1 class="text-center font-bold text-white text-2xl bg-black p-3"> This is the your profile page using post request</h1>
   <h2 class="mx-2 text-blue-600 text-2xl">Hello and welcome

   <span class="font-bold" > <%= nme %></span>
   </h2>

 <p class="mx-2">your password is 
    

   <b><%=  pwd  %></b> updataed successfully using post request.
 </p>

 <p class="mx-2 my-4 font-bold">thanks for using...</p>
 <%- include("includes/body.ejs") %>    
</body>

<%- include("includes/script.ejs") %>  